@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
@font-face {
  font-family: "OpenSans";
  /* src: url('../asset/OpenSans/OpenSans-Light.ttf'); */
  src: url("../assets/Montserrat/static/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
.button {
  background-color: black;
  color: #ffff;
  width: 325px;
  height: 40px;
}
.logo {
  background-color: black;
  color: #ffff;
}
.menus {
  color: #ffff;
}

.apexcharts-legend-text {
  /* gap: 15px; */
  margin-left: 15px;
}

.color_bar {
  width: 6px;
  height: 66px;
  background-color: #9bdd7c;
}
.color_bar2 {
  width: 6px;
  height: 66px;
  background-color: #6972c3;
}
.social-sigin-btn {
  width: 180px;
  height: 30px;
  border: none;
}
input {
  height: 40px;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
  color: #346bd4;
  font-style: normal;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sidebar {
    width: 75px;
  }
  .logo {
    width: 50%;
  }
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .sidebar {
    width: 75px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .navbar_logo {
    display: none;
  }
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .navbar_logo {
    display: none;
  }
}
.menu_btn {
  display: none;
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .menu_btn {
    display: block;
  }
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .menu_btn {
    display: block;
  }
}
.icons {
  margin-left: auto;
}
.Dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 55px;
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
@media screen and (min-device-width: 767px) and (max-device-width: 1024px) {
  .pie-chart {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px !important;
  }
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .Dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
.pie-chart {
  display: flex;
  gap: 80px;
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .pie-chart {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
    width: 100vw;
  }
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .pie_chart_container{
      width: 100% !important;
    }
    .chart_container{
      width: 106% !important;
    }
}

.pie_chart_container{
  width: 50%;
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .pie_chart_container{
      width: 100%;
    }
}
.chart_container{
  width: 99%;
}
.apexcharts-legend{
  top: -8%;
  display: flex;
  gap: 25px;
  font-style: normal;
  font-weight: 400;
  font-family: Lato, sans-serif !important;  
  font-size: 14px;
}
tspan{
  font-weight: 400;
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
}
#SvgjsG1501{
  font-weight: 400;
  font-family:  sans-serif !important;  
  font-size: 14px;
}
@media (min-width: 375px) and (max-width:425px){
  .chart_container{
    width: 124% !important;
  }
  .pie_chart_container{
    width: 120% !important;
  }
  .schedule_sectio{
    width: 120%;
  }
.logo{
  width: 115%;
}
}